@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "_AdminLayout";
}

<div class="section-header d-flex justify-content-center shadow">
    <h1>Dashboard</h1>
</div>

    @*Modal Acc Request*@
    <table id="tableOvertimeRequest" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">NIK</th>
                <th scope="col">Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="dateList"></td>
                <td id="nik"></td>
                <td id="date"></td>
                <td id="startTimeList"></td>
                <td id="endTimeList"></td>
                <td id="noteJobList"><button class="btn btn-primary">Detail </button></td>
            </tr>
        </tbody>
    </table>



@*Modal Detail Acc Request*@
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="detailModalRequest">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Detail Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md mb-3">
                            <label for="nik">NIK</label>
                            <input type="text" class="form-control-plaintext" id="nik">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="fullname">Fullname</label>
                            <input type="text" class="form-control-plaintext" id="fullname" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="date">Date</label>
                            <input type="date" class="form-control-plaintext" id="date" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md mb-3">
                            <label for="startTime">Start Time</label>
                            <input type="time" class="form-control-plaintext" id="startTime" >
                        </div>
                        <div class="col-md mb-3">
                            <label for="endTime">End Time</label>
                            <input type="time" class="form-control-plaintext" id="endTime" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="note">Note Job</label>
                            <input type="text" class="form-control-plaintext" id="note" >
                        </div>
                    </div>
                    <button class="btn btn-success" type="submit" onclick="acceptRequest()">Accept Request</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Manager.js" asp-append-version="true"></script>
}
