<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewData["Title"] - Overtime Request System</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/lib/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/assets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/lib/assets/modules/bootstrap-social/bootstrap-social.css">

    <!-- Template CSS -->

    <link rel="stylesheet" href="~/css/Account.css">
    <link rel="stylesheet" href="~/lib/assets/css/style.css">
    <link rel="stylesheet" href="~/lib/assets/css/components.css">

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <footer class=" text-center footer align-bottom">
        <div class="simple-footer">
            &copy; 2022 -  PT Mitra Integrasi Informatika. All Rights Reserved.
        </div>
    </footer>
    <script src="~/lib/assets/modules/jquery.min.js"></script>
    <script src="~/lib/assets/modules/popper.js"></script>
    <script src="~/lib/assets/modules/tooltip.js"></script>
    <script src="~/lib/assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/lib/assets/modules/moment.min.js"></script>
    <script src="~/lib/assets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="~/lib/assets/js/scripts.js"></script>
    <script src="~/lib/assets/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
