@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LoginLayout";
}

<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div id="loginCard" class="card o-hidden border-0 shadow-lg h-auto">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block">
                        <img id="loginImg" src="~/img/undraw_Forgot_password_re_hxwm.png" />
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h3 class=" mb-4 font-weight-bold ">Reset Password</h3>
                                <p class="text-gray-900 mb-4">Please enter your email here to send request reset password</p>
                            </div>
                            <form id="forgotPassword" action="Login/Auth" method="post" class="user">
                                @if (TempData["message"] != null)
                                {
                                    <div class="alert alert-danger alert-dismissible show fade">
                                        <div class="alert-body">
                                            <button class="close" data-dismiss="alert">
                                                <span>×</span>
                                            </button>
                                            @TempData["message"]
                                        </div>
                                    </div>
                                }
                                <div class="form-group">
                                    <input type="email" name="Email" class="form-control form-control-user"
                                           id="inputEmail" aria-describedby="emailHelp"
                                           placeholder="Email">
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block shadow" tabindex="4">
                                    Send Request
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Account.js" asp-append-version="true"></script>
}
